<h2>{{product.title}}</h2>

<div class="row">
  <div class="col-md-6">
    <button class="btn btn-primary pull-right" ng-click="editProduct()">Edit Product</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-warning" ng-click="deleteProduct()">Delete Product</button>
  </div>
</div>

<img ng-src="{{product.image.src}}">
<p ng-bind-html="body"></p>

<dl>
  <dt>Vendor: </dt>
  <dd>{{product.vendor}}</dd>

  <dt>Product Type: </dt>
  <dd>{{product.product_type}}</dd>

  <dt>Created On:</dt>
  <dd>{{product.created_at | date}}</dd>

  <dt>SKU: </dt>
  <dd>{{product.variants[0].sku}}</dd>

  <dt>Barcode: </dt>
  <dd>{{product.variants[0].barcode}}</dd>

  <dt>Price: </dt>
  <dd>{{product.variants[0].price | currency}}</dd>

  <dt>Compare Price: </dt>
  <dd>{{product.variants[0].compare_at_price | currency}}</dd>

  <dt>Quantity:</dt>
  <dd>{{product.variants[0].inventory_quantity}}</dd>

  <dt>Weight:</dt>
  <dd>{{product.variants[0].weight}}</dd>
</dl>

<dl>
  <dt>Variants:</dt>
  <dd>
    <ul>
      <li ng-repeat="v in product.variants">{{v.title}}</li>
    </ul>
  </dd>
</dl>
